In [1]:
setwd('C:/Users/cptas')
install.packages('agricolae')
library(dplyr)
library(ggplot2)
library(readxl)
library(reshape2)
library(agricolae)

data <- read_excel('월별소비자동향조사.xlsx')
head(data)

package 'agricolae' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Public\Documents\ESTsoft\CreatorTemp\RtmpoxrjNO\downloaded_packages

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Warning message:
"package 'agricolae' was built under R version 3.6.3"

  지수코드별      분류코드별 항목       단위 2018. 01 월 2018. 02 월
1 현재생활형편CSI 전체       소비자동향 NA   94          94
2 현재생활형편CSI 남자       소비자동향 NA   94          94
3 현재생활형편CSI 여자       소비자동향 NA   95          94
4 현재생활형편CSI 40세미만   소비자동향 NA   96          98
5 현재생활형편CSI 40-50세    소비자동향 NA   96          93
6 현재생활형편CSI 50-60세    소비자동향 NA   93          95
  2018. 03 월 2018. 04 월 2018. 05 월 2018. 06 월 ... 2020. 01 월 2020. 02 월
1 95           95         95          94          ... 93          91
2 95           94         95          94          ... 93          91
3 95           95         97          95          ... 95          94
4 99          100         98          99          ... 97          96
5 96           95         96          94          ... 96          96
6 95           94         95          92          ... 91          90
  2020. 03 월 2020. 04 월 2020. 05 월 2020. 06 월 2020. 07 월 2020. 08 월
1 83          77          79          84          85          85
2 82          76          79          84          85          85
3 84          79          80          85          86          86
4 90          87          87          90          90          91
5 85          77          81          86          87          86
6 79          73          74          77          82          83
  2020. 09 월 2020. 10 월
1 81          86
2 81          86
3 81          86
4 87          92
5 83          89
6 78          83

In [2]:
#자영업자, 봉급생활자 비교
data1 <- data %>%
  filter(분류코드별 %in% c('자영업자', '봉급생활자')) %>% 
  filter(지수코드별 %in% c('임금수준전망CSI', '현재생활형편CSI',
                      '현재경기판단CSI', '생활형편전망CSI', '향후경기전망CSI')) %>% 
  select(-항목, -단위) %>% 
  melt(id.vars=c('지수코드별', '분류코드별'))

data1$지수코드별 = as.factor(data1$지수코드별)
data1$분류코드별 = as.factor(data1$분류코드별)

data1_b <- data1[c(1:240), ]
data1_a <- data1[c(241:340), ]
data1_ao <- data1_a %>%
  filter(분류코드별 == '자영업자')
data1_as <- data1_a %>%
  filter(분류코드별 == '봉급생활자')
data1_bo <- data1_b %>%
  filter(분류코드별 == '자영업자')
data1_bs <- data1_b %>%
  filter(분류코드별 == '봉급생활자')

In [3]:
#자영업자와 봉급생활자 임금수준전망 코로나 이전
a <- data1_bo %>% filter(지수코드별 == '임금수준전망CSI')
b <- data1_bs %>% filter(지수코드별 == '임금수준전망CSI')

shapiro.test(b$value)
var.test(a$value, b$value)
t.test(a$value, b$value)

	Shapiro-Wilk normality test

data:  b$value
W = 0.90762, p-value = 0.03133

	F test to compare two variances

data:  a$value and b$value
F = 2.2294, num df = 23, denom df = 23, p-value = 0.06046
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.9644227 5.1535685
sample estimates:
ratio of variances
          2.229399

	Welch Two Sample t-test

data:  a$value and b$value
t = 6.2835, df = 40.177, p-value = 1.854e-07
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 3.731192 7.268808
sample estimates:
mean of x mean of y
 122.7917  117.2917

In [4]:
#자영업자와 봉급생활자 임금수준전망 코로나 이후
x <- data1_ao %>% filter(지수코드별 == '임금수준전망CSI')
x$value
y <- data1_as %>% filter(지수코드별 == '임금수준전망CSI')
y$value
wilcox.test(x$value, y$value)

 [1] 122 119 111 103 104 108 114 114 108 112

 [1] 117 114 108 100 102 104 108 109 103 107

Warning message in wilcox.test.default(x$value, y$value):
"cannot compute exact p-value with ties"

	Wilcoxon rank sum test with continuity correction

data:  x$value and y$value
W = 71, p-value = 0.119
alternative hypothesis: true location shift is not equal to 0

In [5]:
#자영업자와 봉급생활자 현재생활형편 코로나 이전
a <- data1_bo %>% filter(지수코드별 == '현재생활형편CSI')
b <- data1_bs %>% filter(지수코드별 == '현재생활형편CSI')

shapiro.test(a$value)
shapiro.test(b$value)
var.test(a$value, b$value)
t.test(a$value, b$value)

	Shapiro-Wilk normality test

data:  a$value
W = 0.94007, p-value = 0.1637

	Shapiro-Wilk normality test

data:  b$value
W = 0.93541, p-value = 0.1288

	F test to compare two variances

data:  a$value and b$value
F = 0.7671, num df = 23, denom df = 23, p-value = 0.53
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.3318437 1.7732672
sample estimates:
ratio of variances
         0.7671033

	Welch Two Sample t-test

data:  a$value and b$value
t = -13.489, df = 45.215, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -9.385906 -6.947427
sample estimates:
mean of x mean of y
 87.08333  95.25000

In [6]:
#자영업자와 봉급생활자 현재생활형편 코로나 이후
x <- data1_ao %>% filter(지수코드별 == '현재생활형편CSI')
x$value
y <- data1_as %>% filter(지수코드별 == '현재생활형편CSI')
y$value
shapiro.test(x$value)
shapiro.test(y$value)
var.test(x$value, y$value)
t.test(x$value, y$value, var.equal = F)

 [1] 89 84 66 57 60 69 75 76 68 77

 [1] 97 96 89 84 86 90 90 90 86 91

	Shapiro-Wilk normality test

data:  x$value
W = 0.97504, p-value = 0.9333

	Shapiro-Wilk normality test

data:  y$value
W = 0.92075, p-value = 0.3632

	F test to compare two variances

data:  x$value and y$value
F = 5.8935, num df = 9, denom df = 9, p-value = 0.0144
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
  1.463857 23.727115
sample estimates:
ratio of variances
           5.89348

	Welch Two Sample t-test

data:  x$value and y$value
t = -5.1677, df = 11.969, p-value = 0.000236
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -25.30705 -10.29295
sample estimates:
mean of x mean of y
     72.1      89.9

In [7]:
#자영업자와 봉급생활자 향후경기전망 코로나 이전
a <- data1_bo %>% filter(지수코드별 == '향후경기전망CSI')
b <- data1_bs %>% filter(지수코드별 == '향후경기전망CSI')

wilcox.test(a$value, b$value)

Warning message in wilcox.test.default(a$value, b$value):
"cannot compute exact p-value with ties"

	Wilcoxon rank sum test with continuity correction

data:  a$value and b$value
W = 144, p-value = 0.003034
alternative hypothesis: true location shift is not equal to 0

In [8]:
#자영업자와 봉급생활자 향후경기전망 코로나 이후
x <- data1_ao %>% filter(지수코드별 == '향후경기전망CSI')
x$value
y <- data1_as %>% filter(지수코드별 == '향후경기전망CSI')
y$value
shapiro.test(x$value)
shapiro.test(y$value)
var.test(x$value, y$value)
t.test(x$value, y$value, var.equal = T)

 [1] 85 71 59 54 64 66 69 73 62 80

 [1] 90 80 65 64 70 73 73 78 70 86

	Shapiro-Wilk normality test

data:  x$value
W = 0.98206, p-value = 0.9752

	Shapiro-Wilk normality test

data:  y$value
W = 0.94482, p-value = 0.6078

	F test to compare two variances

data:  x$value and y$value
F = 1.2143, num df = 9, denom df = 9, p-value = 0.7771
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.3016141 4.8887508
sample estimates:
ratio of variances
          1.214297

	Two Sample t-test

data:  x$value and y$value
t = -1.6392, df = 18, p-value = 0.1185
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -15.058947   1.858947
sample estimates:
mean of x mean of y
     68.3      74.9

In [9]:
#소득별 비교
data2 <- data %>%
  filter(분류코드별 %in% c('100만원미만', '100-200만원', '200-300만원', '300-400만원', '400-500만원', '500만원이상')) %>% 
  filter(지수코드별 %in% c('가계수입전망CSI', '현재가계저축CSI', '가계저축전망CSI', '주택가격전망CSI', '소비지출전망CSI', '의료·보건비 지출전망CSI', '교양·오락·문화생활비 지출전망CSI', '의류비 지출전망CSI', '외식비 지출전망CSI', '여행비 지출전망CSI', '교육비 지출전망CSI')) %>% 
  select(-항목, -단위) %>% 
  melt(id.vars=c('지수코드별', '분류코드별'))

data2$지수코드별 = as.factor(data2$지수코드별)
data2$분류코드별 = as.factor(data2$분류코드별)
dim(data2)
data2_b <- data2[c(1:1584), ]
data2_a <- data2[c(1585:2244), ]

[1] 2244    4

In [10]:
#소득별 가계수입전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '가계수입전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5 2423.9   484.8  129.03 <2e-16 ***
variable     9 1616.9   179.7   47.82 <2e-16 ***
Residuals   45  169.1     3.8
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV     MSD
  3.757037 45 88.03333 2.201788 2.57969

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50   Q75
100-200만원  82.7 5.888784 10  72  93 80.00 81.5 85.75
100만원미만  77.5 6.770032 10  67  89 73.00 77.5 79.00
200-300만원  88.2 5.846176 10  81  99 84.50 87.0 91.00
300-400만원  90.3 5.657836 10  82 102 87.00 89.5 93.25
400-500만원  92.8 4.871687 10  87 103 90.00 91.0 96.00
500만원이상  96.7 5.292552 10  90 107 92.75 95.5 99.25

$comparison
NULL

$groups
            value groups
500만원이상  96.7      a
400-500만원  92.8      b
300-400만원  90.3     bc
200-300만원  88.2      c
100-200만원  82.7      d
100만원미만  77.5      e

attr(,"class")
[1] "group"

In [11]:
#소득별 가계수입전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '가계수입전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   3954   790.9 183.301  < 2e-16 ***
variable     23    816    35.5   8.222 2.69e-15 ***
Residuals   115    496     4.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  4.314734 115 97.15278 2.138069 1.737947

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25 Q50    Q75
100-200만원  92.87500 3.068954 24  88 100  91.00  92  95.00
100만원미만  88.29167 3.263489 24  81  96  87.00  88  90.00
200-300만원  97.66667 2.530968 24  93 103  96.00  97  99.25
300-400만원  98.45833 3.361924 24  94 106  95.75  98 100.25
400-500만원 101.83333 3.459915 24  96 109  99.00 102 105.00
500만원이상 103.79167 2.702321 24 100 111 102.00 103 105.00

$comparison
NULL

$groups
                value groups
500만원이상 103.79167      a
400-500만원 101.83333      b
300-400만원  98.45833      c
200-300만원  97.66667      c
100-200만원  92.87500      d
100만원미만  88.29167      e

attr(,"class")
[1] "group"

In [12]:
#소득별 주택가격전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '주택가격전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5    272    54.4   8.447 1.07e-05 ***
variable     9   5905   656.1 101.909  < 2e-16 ***
Residuals   45    290     6.4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean      CV      MSD
  6.438519 45 114.1333 2.22321 3.377052

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max    Q25   Q50    Q75
100-200만원 117.3 11.34362 10  99 132 111.25 117.0 126.25
100만원미만 114.8 11.66000 10  97 129 109.25 113.5 124.00
200-300만원 115.5 10.18986 10  97 129 112.50 117.0 121.50
300-400만원 112.6 10.45838 10  94 126 111.75 114.5 119.00
400-500만원 114.0  9.69536 10  97 126 113.00 115.5 120.25
500만원이상 110.6 10.79300 10  92 124 109.25 111.5 118.50

$comparison
NULL

$groups
            value groups
100-200만원 117.3      a
200-300만원 115.5     ab
100만원미만 114.8     ab
400-500만원 114.0     ab
300-400만원 112.6     bc
500만원이상 110.6      c

attr(,"class")
[1] "group"

In [13]:
#소득별 주택가격전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '주택가격전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5   1145   228.9   34.48 <2e-16 ***
variable     23  18806   817.6  123.14 <2e-16 ***
Residuals   115    764     6.6
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV     MSD
  6.640097 115 104.7361 2.460315 2.15599

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
               value      std  r Min Max    Q25   Q50    Q75
100-200만원 108.2917 10.71967 24  88 129 102.25 108.0 115.25
100만원미만 107.9583 11.21908 24  88 137 100.75 108.5 113.50
200-300만원 105.5000 11.51181 24  86 130  99.00 105.0 110.25
300-400만원 102.5000 12.11539 24  82 130  94.00 103.0 108.50
400-500만원 103.6667 12.31707 24  81 126  97.00 105.0 111.25
500만원이상 100.5000 13.38071 24  78 125  92.00 100.5 108.50

$comparison
NULL

$groups
               value groups
100-200만원 108.2917      a
100만원미만 107.9583      a
200-300만원 105.5000      b
400-500만원 103.6667     bc
300-400만원 102.5000     cd
500만원이상 100.5000      d

attr(,"class")
[1] "group"

In [14]:
#소득별 소비지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '소비지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5 1620.4   324.1   68.60 <2e-16 ***
variable     9 2597.4   288.6   61.09 <2e-16 ***
Residuals   45  212.6     4.7
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df Mean       CV      MSD
  4.724444 45 94.6 2.297652 2.892812

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50    Q75
100-200만원  90.8 6.579429 10  80 103 87.25 89.0  94.00
100만원미만  86.3 7.513691 10  75 100 81.50 85.5  89.25
200-300만원  93.6 6.979335 10  84 108 89.50 92.0  96.75
300-400만원  95.7 6.600505 10  87 107 91.00 93.0 100.00
400-500만원  99.1 7.504813 10  89 112 95.25 97.0 103.75
500만원이상 102.1 7.992357 10  92 117 97.25 99.0 107.00

$comparison
NULL

$groups
            value groups
500만원이상 102.1      a
400-500만원  99.1      b
300-400만원  95.7      c
200-300만원  93.6     cd
100-200만원  90.8      d
100만원미만  86.3      e

attr(,"class")
[1] "group"

In [15]:
#소득별 소비지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '소비지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   4772   954.3 206.411  < 2e-16 ***
variable     23    390    17.0   3.666 1.95e-06 ***
Residuals   115    532     4.6
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
  MSerror  Df     Mean       CV      MSD
  4.62343 115 106.3611 2.021619 1.799044

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25   Q50    Q75
100-200만원 101.16667 3.088079 24  95 106  99.75 101.0 104.00
100만원미만  96.91667 2.764946 24  92 103  95.00  97.0  98.00
200-300만원 105.91667 2.104171 24 103 110 105.00 105.5 107.25
300-400만원 109.29167 2.493106 24 103 115 109.00 109.0 111.00
400-500만원 112.50000 2.766256 24 105 117 111.00 113.5 114.25
500만원이상 112.37500 2.142987 24 107 116 111.00 112.0 114.00

$comparison
NULL

$groups
                value groups
400-500만원 112.50000      a
500만원이상 112.37500      a
300-400만원 109.29167      b
200-300만원 105.91667      c
100-200만원 101.16667      d
100만원미만  96.91667      e

attr(,"class")
[1] "group"

In [16]:
#소득별 가계저축전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '가계저축전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5   5087  1017.4  211.44  < 2e-16 ***
variable     9    641    71.3   14.81 8.68e-11 ***
Residuals   45    217     4.8
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  4.811852 45 87.46667 2.507919 2.919449

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25   Q50    Q75
100-200만원  81.4 4.376706 10  73  89  80.0  81.0  83.00
100만원미만  71.9 6.454112 10  64  83  67.5  70.5  72.75
200-300만원  87.6 2.836273 10  85  93  85.0  87.0  89.00
300-400만원  89.2 2.780887 10  86  95  88.0  88.0  89.75
400-500만원  93.4 3.204164 10  90  99  91.0  93.0  94.75
500만원이상 101.3 2.907844 10  97 107 101.0 101.0 102.75

$comparison
NULL

$groups
            value groups
500만원이상 101.3      a
400-500만원  93.4      b
300-400만원  89.2      c
200-300만원  87.6      c
100-200만원  81.4      d
100만원미만  71.9      e

attr(,"class")
[1] "group"

In [17]:
#소득별 가계저축전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '가계저축전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   7117  1423.5 315.405  < 2e-16 ***
variable     23    254    11.0   2.446 0.000986 ***
Residuals   115    519     4.5
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df    Mean       CV      MSD
  4.513225 115 91.9375 2.310738 1.777473

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25   Q50    Q75
100-200만원  87.54167 2.042572 24  84  93  86.75  87.5  88.25
100만원미만  80.37500 3.200713 24  73  87  78.00  81.0  83.00
200-300만원  90.95833 1.398109 24  87  93  90.00  91.0  92.00
300-400만원  93.20833 2.933749 24  87  99  91.00  93.5  95.00
400-500만원  96.75000 2.191882 24  92 101  95.75  97.0  98.00
500만원이상 102.79167 1.955575 24  98 106 101.75 103.0 104.00

$comparison
NULL

$groups
                value groups
500만원이상 102.79167      a
400-500만원  96.75000      b
300-400만원  93.20833      c
200-300만원  90.95833      d
100-200만원  87.54167      e
100만원미만  80.37500      f

attr(,"class")
[1] "group"

In [18]:
#소득별 의료·보건비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '의료·보건비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5  150.7   30.15   9.317 3.82e-06 ***
variable     9  353.0   39.22  12.122 1.93e-09 ***
Residuals   45  145.6    3.24
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  3.235556 45 109.3333 1.645212 2.393973

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max    Q25   Q50    Q75
100-200만원 112.5 3.597839 10 107 119 110.25 112.5 113.75
100만원미만 107.7 4.498148 10 101 115 104.50 107.5 110.50
200-300만원 109.3 2.869379 10 106 114 107.25 108.0 110.75
300-400만원 109.7 1.494434 10 107 112 109.00 110.0 110.75
400-500만원 108.9 2.685351 10 105 113 107.25 108.5 111.25
500만원이상 107.9 2.131770 10 106 112 106.00 107.5 109.50

$comparison
NULL

$groups
            value groups
100-200만원 112.5      a
300-400만원 109.7      b
200-300만원 109.3      b
400-500만원 108.9      b
500만원이상 107.9      b
100만원미만 107.7      b

attr(,"class")
[1] "group"

In [19]:
#소득별 의료·보건비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '의료·보건비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5  213.6   42.72  12.559 9.82e-10 ***
variable     23  210.3    9.14   2.688 0.000289 ***
Residuals   115  391.2    3.40
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  3.401872 115 112.5764 1.638369 1.543187

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
               value      std  r Min Max Q25   Q50    Q75
100-200만원 113.6250 2.747529 24 108 119 111 113.0 116.00
100만원미만 113.7083 2.216130 24 109 118 112 114.0 115.25
200-300만원 113.1667 2.548088 24 108 117 111 113.5 115.00
300-400만원 113.0833 1.212854 24 111 115 112 113.0 114.00
400-500만원 111.4583 1.667572 24 109 114 110 111.5 112.25
500만원이상 110.4167 1.717345 24 107 114 109 110.0 111.00

$comparison
NULL

$groups
               value groups
100만원미만 113.7083      a
100-200만원 113.6250      a
200-300만원 113.1667      a
300-400만원 113.0833      a
400-500만원 111.4583      b
500만원이상 110.4167      b

attr(,"class")
[1] "group"

In [20]:
#소득별 교양·오락·문화생활비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '교양·오락·문화생활비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5   1710   342.1   87.46 <2e-16 ***
variable     9   1893   210.3   53.78 <2e-16 ***
Residuals   45    176     3.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  3.911111 45 77.66667 2.546334 2.632054

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50   Q75
100-200만원  73.8 5.452828 10  66  83 70.25 71.5 77.50
100만원미만  69.4 7.058486 10  59  81 65.50 68.5 70.75
200-300만원  76.2 5.769652 10  68  89 74.00 74.5 77.00
300-400만원  79.5 6.753600 10  71  92 76.25 77.5 80.75
400-500만원  81.0 6.306963 10  74  93 76.00 79.5 84.75
500만원이상  86.1 5.626327 10  81  97 82.00 84.0 88.00

$comparison
NULL

$groups
            value groups
500만원이상  86.1      a
400-500만원  81.0      b
300-400만원  79.5      b
200-300만원  76.2      c
100-200만원  73.8      c
100만원미만  69.4      d

attr(,"class")
[1] "group"

In [21]:
#소득별 교양·오락·문화생활비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '교양·오락·문화생활비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5   4654   930.7 158.038 <2e-16 ***
variable     23    201     8.7   1.481 0.0912 .
Residuals   115    677     5.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  5.889372 115 88.94444 2.728448 2.030458

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
               value      std  r Min Max Q25  Q50   Q75
100-200만원 83.37500 2.634429 24  77  89  82 83.0 85.00
100만원미만 80.87500 2.953443 24  77  89  79 80.5 82.25
200-300만원 87.41667 2.448010 24  83  92  85 88.0 89.00
300-400만원 90.95833 2.074256 24  88  95  89 90.5 92.25
400-500만원 93.95833 3.042870 24  88  99  92 94.5 96.00
500만원이상 97.08333 1.717345 24  93 100  96 97.0 98.00

$comparison
NULL

$groups
               value groups
500만원이상 97.08333      a
400-500만원 93.95833      b
300-400만원 90.95833      c
200-300만원 87.41667      d
100-200만원 83.37500      e
100만원미만 80.87500      f

attr(,"class")
[1] "group"

In [22]:
#소득별 교육비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '교육비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5   4498   899.7  272.93 <2e-16 ***
variable     9    938   104.3   31.63 <2e-16 ***
Residuals   45    148     3.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  3.296296 45 93.53333 1.941095 2.416339

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max    Q25   Q50    Q75
100-200만원  86.8 4.022161 10  80  94  84.25  86.0  89.75
100만원미만  79.0 4.784233 10  71  88  77.25  78.0  78.75
200-300만원  91.7 4.083844 10  88  99  89.00  90.0  92.50
300-400만원  98.7 5.271517 10  92 108  96.00  98.0  99.75
400-500만원 101.4 4.857983 10  95 110  99.00 100.0 102.75
500만원이상 103.6 3.687818 10  99 111 101.00 102.5 105.00

$comparison
NULL

$groups
            value groups
500만원이상 103.6      a
400-500만원 101.4      a
300-400만원  98.7      b
200-300만원  91.7      c
100-200만원  86.8      d
100만원미만  79.0      e

attr(,"class")
[1] "group"

In [23]:
#소득별 교육비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '교육비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5  11123  2224.6  450.91 <2e-16 ***
variable     23   1080    47.0    9.52 <2e-16 ***
Residuals   115    567     4.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  4.933575 115 100.8056 2.203415 1.858405

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25   Q50    Q75
100-200만원  91.87500 3.959716 24  85 100  89.75  91.0  94.25
100만원미만  87.16667 3.045548 24  81  93  85.00  87.0  89.25
200-300만원  99.29167 4.196056 24  93 107  97.00  98.0 104.00
300-400만원 107.66667 3.679162 24 102 117 105.00 106.5 110.25
400-500만원 109.33333 3.305682 24 102 116 107.75 109.0 111.00
500만원이상 109.50000 2.146787 24 106 114 108.00 109.0 111.00

$comparison
NULL

$groups
                value groups
500만원이상 109.50000      a
400-500만원 109.33333      a
300-400만원 107.66667      a
200-300만원  99.29167      b
100-200만원  91.87500      c
100만원미만  87.16667      d

attr(,"class")
[1] "group"

In [24]:
#소득별 여행비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '여행비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5   1946   389.2   49.88 <2e-16 ***
variable     9   4905   545.0   69.85 <2e-16 ***
Residuals   45    351     7.8
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df Mean       CV      MSD
  7.802963 45 67.7 4.126113 3.717702

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value       std  r Min Max   Q25  Q50   Q75
100-200만원  62.9  7.355270 10  54  77 57.25 61.5 65.00
100만원미만  59.5  8.462335 10  48  76 54.50 57.5 60.50
200-300만원  65.6  8.771165 10  56  86 60.50 64.0 65.00
300-400만원  69.7 10.382143 10  58  91 64.25 68.0 70.00
400-500만원  72.0 10.801234 10  59  94 65.00 69.0 76.25
500만원이상  76.5 12.527747 10  63 103 68.50 73.0 79.50

$comparison
NULL

$groups
            value groups
500만원이상  76.5      a
400-500만원  72.0      b
300-400만원  69.7      b
200-300만원  65.6      c
100-200만원  62.9     cd
100만원미만  59.5      d

attr(,"class")
[1] "group"

In [25]:
#소득별 여행비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '여행비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5  15009  3001.9  471.82 <2e-16 ***
variable     23   1567    68.1   10.71 <2e-16 ***
Residuals   115    732     6.4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df   Mean       CV      MSD
  6.362319 115 88.625 2.846109 2.110412

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max Q25   Q50    Q75
100-200만원  77.83333 3.841045 24  70  85  75  78.0  80.25
100만원미만  74.16667 3.383678 24  68  80  72  74.5  77.00
200-300만원  87.08333 3.786896 24  79  93  84  88.0  89.25
300-400만원  92.45833 5.183411 24  83 101  88  91.5  97.00
400-500만원  97.00000 4.587317 24  89 106  94  97.5 101.00
500만원이상 103.20833 3.387691 24  97 109 101 102.5 107.00

$comparison
NULL

$groups
                value groups
500만원이상 103.20833      a
400-500만원  97.00000      b
300-400만원  92.45833      c
200-300만원  87.08333      d
100-200만원  77.83333      e
100만원미만  74.16667      f

attr(,"class")
[1] "group"

In [26]:
#소득별 의류비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '의류비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5   2241   448.3  114.61 <2e-16 ***
variable     9   1086   120.7   30.86 <2e-16 ***
Residuals   45    176     3.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  3.911111 45 86.26667 2.292488 2.632054

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50  Q75
100-200만원  80.0 4.136558 10  71  85 79.00 80.0 82.5
100만원미만  77.4 5.059644 10  70  86 73.50 77.5 80.5
200-300만원  85.2 4.709329 10  79  92 81.50 84.5 88.5
300-400만원  88.4 4.835057 10  83  98 84.50 87.5 90.5
400-500만원  92.4 5.796551 10  84 101 88.50 91.0 97.5
500만원이상  94.2 4.289522 10  87 101 92.25 93.5 96.5

$comparison
NULL

$groups
            value groups
500만원이상  94.2      a
400-500만원  92.4      a
300-400만원  88.4      b
200-300만원  85.2      c
100-200만원  80.0      d
100만원미만  77.4      d

attr(,"class")
[1] "group"

In [27]:
#소득별 의류비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '의류비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   5522  1104.3 180.754  < 2e-16 ***
variable     23    616    26.8   4.381 5.51e-08 ***
Residuals   115    703     6.1
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  6.109662 115 96.26389 2.567705 2.068084

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25   Q50    Q75
100-200만원  90.00000 2.484736 24  84  96  89.00  90.0  91.25
100만원미만  86.25000 2.489107 24  83  92  84.00  86.0  87.25
200-300만원  96.20833 2.812691 24  91 101  94.00  96.5  98.00
300-400만원 100.75000 3.948032 24  94 107  97.75 100.5 104.25
400-500만원 102.54167 3.799075 24  95 108  99.00 103.0 105.25
500만원이상 101.83333 2.648489 24  96 106 100.00 102.0 104.00

$comparison
NULL

$groups
                value groups
400-500만원 102.54167      a
500만원이상 101.83333      a
300-400만원 100.75000      a
200-300만원  96.20833      b
100-200만원  90.00000      c
100만원미만  86.25000      d

attr(,"class")
[1] "group"

In [28]:
#소득별 외식비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data2_a[data2_a$지수코드별 == '외식비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5 3059.5   611.9   143.2 <2e-16 ***
variable     9 1654.3   183.8    43.0 <2e-16 ***
Residuals   45  192.3     4.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  4.274444 45 79.38333 2.604417 2.751596

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50   Q75
100-200만원  73.1 5.566766 10  63  81 71.50 73.0 77.00
100만원미만  68.1 7.279347 10  58  81 64.25 67.5 72.75
200-300만원  79.3 4.989990 10  72  88 76.25 79.0 81.75
300-400만원  81.0 4.944132 10  75  91 78.25 80.0 83.00
400-500만원  85.4 6.484169 10  79  96 79.25 84.0 90.50
500만원이상  89.4 5.460973 10  82  99 84.75 89.0 92.00

$comparison
NULL

$groups
            value groups
500만원이상  89.4      a
400-500만원  85.4      b
300-400만원  81.0      c
200-300만원  79.3      c
100-200만원  73.1      d
100만원미만  68.1      e

attr(,"class")
[1] "group"

In [29]:
#소득별 외식비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data2_b$지수코드별 == '외식비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   7468  1493.6 284.963  < 2e-16 ***
variable     23    341    14.8   2.828 0.000141 ***
Residuals   115    603     5.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  5.241546 115 89.26389 2.564802 1.915531

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
               value      std  r Min Max   Q25  Q50    Q75
100-200만원 82.33333 2.407717 24  75  86 81.75 82.0  84.00
100만원미만 77.75000 3.096281 24  72  83 76.00 77.0  80.25
200-300만원 89.08333 2.041241 24  86  94 87.00 89.5  90.00
300-400만원 92.79167 3.374832 24  88 100 90.75 92.0  95.25
400-500만원 95.37500 2.299575 24  91  99 93.75 96.0  97.00
500만원이상 98.25000 2.191882 24  95 103 97.00 98.0 100.00

$comparison
NULL

$groups
               value groups
500만원이상 98.25000      a
400-500만원 95.37500      b
300-400만원 92.79167      c
200-300만원 89.08333      d
100-200만원 82.33333      e
100만원미만 77.75000      f

attr(,"class")
[1] "group"

In [30]:
#연령별 비교
data3 <- data %>%
  filter(분류코드별 %in% c('100만원미만', '100-200만원', '200-300만원', '300-400만원', '400-500만원', '500만원이상')) %>% 
  filter(지수코드별 %in% c('가계수입전망CSI', '현재가계저축CSI', '가계저축전망CSI', '주택가격전망CSI', '소비지출전망CSI', '의료·보건비 지출전망CSI', '교양·오락·문화생활비 지출전망CSI', '의류비 지출전망CSI', '외식비 지출전망CSI', '여행비 지출전망CSI', '교육비 지출전망CSI')) %>% 
  select(-항목, -단위) %>% 
  melt(id.vars=c('지수코드별', '분류코드별'))

data3$지수코드별 = as.factor(data3$지수코드별)
data3$분류코드별 = as.factor(data3$분류코드별)
dim(data2)
data3_b <- data3[c(1:1584), ]
data3_a <- data3[c(1585:2244), ]

[1] 2244    4

In [31]:
#소득별 가계수입전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data2_a$지수코드별 == '가계수입전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5 2423.9   484.8  129.03 <2e-16 ***
variable     9 1616.9   179.7   47.82 <2e-16 ***
Residuals   45  169.1     3.8
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV     MSD
  3.757037 45 88.03333 2.201788 2.57969

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50   Q75
100-200만원  82.7 5.888784 10  72  93 80.00 81.5 85.75
100만원미만  77.5 6.770032 10  67  89 73.00 77.5 79.00
200-300만원  88.2 5.846176 10  81  99 84.50 87.0 91.00
300-400만원  90.3 5.657836 10  82 102 87.00 89.5 93.25
400-500만원  92.8 4.871687 10  87 103 90.00 91.0 96.00
500만원이상  96.7 5.292552 10  90 107 92.75 95.5 99.25

$comparison
NULL

$groups
            value groups
500만원이상  96.7      a
400-500만원  92.8      b
300-400만원  90.3     bc
200-300만원  88.2      c
100-200만원  82.7      d
100만원미만  77.5      e

attr(,"class")
[1] "group"

In [32]:
#소득별 가계수입전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data2_b[data3_b$지수코드별 == '가계수입전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   3954   790.9 183.301  < 2e-16 ***
variable     23    816    35.5   8.222 2.69e-15 ***
Residuals   115    496     4.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  4.314734 115 97.15278 2.138069 1.737947

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25 Q50    Q75
100-200만원  92.87500 3.068954 24  88 100  91.00  92  95.00
100만원미만  88.29167 3.263489 24  81  96  87.00  88  90.00
200-300만원  97.66667 2.530968 24  93 103  96.00  97  99.25
300-400만원  98.45833 3.361924 24  94 106  95.75  98 100.25
400-500만원 101.83333 3.459915 24  96 109  99.00 102 105.00
500만원이상 103.79167 2.702321 24 100 111 102.00 103 105.00

$comparison
NULL

$groups
                value groups
500만원이상 103.79167      a
400-500만원 101.83333      b
300-400만원  98.45833      c
200-300만원  97.66667      c
100-200만원  92.87500      d
100만원미만  88.29167      e

attr(,"class")
[1] "group"

In [38]:
#연령별 주택가격전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data3_a$지수코드별 == '주택가격전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5    272    54.4   8.447 1.07e-05 ***
variable     9   5905   656.1 101.909  < 2e-16 ***
Residuals   45    290     6.4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean      CV      MSD
  6.438519 45 114.1333 2.22321 3.377052

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max    Q25   Q50    Q75
100-200만원 117.3 11.34362 10  99 132 111.25 117.0 126.25
100만원미만 114.8 11.66000 10  97 129 109.25 113.5 124.00
200-300만원 115.5 10.18986 10  97 129 112.50 117.0 121.50
300-400만원 112.6 10.45838 10  94 126 111.75 114.5 119.00
400-500만원 114.0  9.69536 10  97 126 113.00 115.5 120.25
500만원이상 110.6 10.79300 10  92 124 109.25 111.5 118.50

$comparison
NULL

$groups
            value groups
100-200만원 117.3      a
200-300만원 115.5     ab
100만원미만 114.8     ab
400-500만원 114.0     ab
300-400만원 112.6     bc
500만원이상 110.6      c

attr(,"class")
[1] "group"

In [39]:
#연령별 주택가격전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data3_b[data3_b$지수코드별 == '주택가격전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5   1145   228.9   34.48 <2e-16 ***
variable     23  18806   817.6  123.14 <2e-16 ***
Residuals   115    764     6.6
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV     MSD
  6.640097 115 104.7361 2.460315 2.15599

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
               value      std  r Min Max    Q25   Q50    Q75
100-200만원 108.2917 10.71967 24  88 129 102.25 108.0 115.25
100만원미만 107.9583 11.21908 24  88 137 100.75 108.5 113.50
200-300만원 105.5000 11.51181 24  86 130  99.00 105.0 110.25
300-400만원 102.5000 12.11539 24  82 130  94.00 103.0 108.50
400-500만원 103.6667 12.31707 24  81 126  97.00 105.0 111.25
500만원이상 100.5000 13.38071 24  78 125  92.00 100.5 108.50

$comparison
NULL

$groups
               value groups
100-200만원 108.2917      a
100만원미만 107.9583      a
200-300만원 105.5000      b
400-500만원 103.6667     bc
300-400만원 102.5000     cd
500만원이상 100.5000      d

attr(,"class")
[1] "group"

In [40]:
#연령별 소비지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data3_a$지수코드별 == '소비지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5 1620.4   324.1   68.60 <2e-16 ***
variable     9 2597.4   288.6   61.09 <2e-16 ***
Residuals   45  212.6     4.7
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df Mean       CV      MSD
  4.724444 45 94.6 2.297652 2.892812

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50    Q75
100-200만원  90.8 6.579429 10  80 103 87.25 89.0  94.00
100만원미만  86.3 7.513691 10  75 100 81.50 85.5  89.25
200-300만원  93.6 6.979335 10  84 108 89.50 92.0  96.75
300-400만원  95.7 6.600505 10  87 107 91.00 93.0 100.00
400-500만원  99.1 7.504813 10  89 112 95.25 97.0 103.75
500만원이상 102.1 7.992357 10  92 117 97.25 99.0 107.00

$comparison
NULL

$groups
            value groups
500만원이상 102.1      a
400-500만원  99.1      b
300-400만원  95.7      c
200-300만원  93.6     cd
100-200만원  90.8      d
100만원미만  86.3      e

attr(,"class")
[1] "group"

In [41]:
#연령별 소비지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data3_b[data3_b$지수코드별 == '소비지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   4772   954.3 206.411  < 2e-16 ***
variable     23    390    17.0   3.666 1.95e-06 ***
Residuals   115    532     4.6
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
  MSerror  Df     Mean       CV      MSD
  4.62343 115 106.3611 2.021619 1.799044

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25   Q50    Q75
100-200만원 101.16667 3.088079 24  95 106  99.75 101.0 104.00
100만원미만  96.91667 2.764946 24  92 103  95.00  97.0  98.00
200-300만원 105.91667 2.104171 24 103 110 105.00 105.5 107.25
300-400만원 109.29167 2.493106 24 103 115 109.00 109.0 111.00
400-500만원 112.50000 2.766256 24 105 117 111.00 113.5 114.25
500만원이상 112.37500 2.142987 24 107 116 111.00 112.0 114.00

$comparison
NULL

$groups
                value groups
400-500만원 112.50000      a
500만원이상 112.37500      a
300-400만원 109.29167      b
200-300만원 105.91667      c
100-200만원 101.16667      d
100만원미만  96.91667      e

attr(,"class")
[1] "group"

In [42]:
#연령별 의료·보건비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data3_a$지수코드별 == '의료·보건비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별   5  150.7   30.15   9.317 3.82e-06 ***
variable     9  353.0   39.22  12.122 1.93e-09 ***
Residuals   45  145.6    3.24
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  3.235556 45 109.3333 1.645212 2.393973

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max    Q25   Q50    Q75
100-200만원 112.5 3.597839 10 107 119 110.25 112.5 113.75
100만원미만 107.7 4.498148 10 101 115 104.50 107.5 110.50
200-300만원 109.3 2.869379 10 106 114 107.25 108.0 110.75
300-400만원 109.7 1.494434 10 107 112 109.00 110.0 110.75
400-500만원 108.9 2.685351 10 105 113 107.25 108.5 111.25
500만원이상 107.9 2.131770 10 106 112 106.00 107.5 109.50

$comparison
NULL

$groups
            value groups
100-200만원 112.5      a
300-400만원 109.7      b
200-300만원 109.3      b
400-500만원 108.9      b
500만원이상 107.9      b
100만원미만 107.7      b

attr(,"class")
[1] "group"

In [43]:
#연령별 의료·보건비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data3_b[data3_b$지수코드별 == '의료·보건비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5  213.6   42.72  12.559 9.82e-10 ***
variable     23  210.3    9.14   2.688 0.000289 ***
Residuals   115  391.2    3.40
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  3.401872 115 112.5764 1.638369 1.543187

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
               value      std  r Min Max Q25   Q50    Q75
100-200만원 113.6250 2.747529 24 108 119 111 113.0 116.00
100만원미만 113.7083 2.216130 24 109 118 112 114.0 115.25
200-300만원 113.1667 2.548088 24 108 117 111 113.5 115.00
300-400만원 113.0833 1.212854 24 111 115 112 113.0 114.00
400-500만원 111.4583 1.667572 24 109 114 110 111.5 112.25
500만원이상 110.4167 1.717345 24 107 114 109 110.0 111.00

$comparison
NULL

$groups
               value groups
100만원미만 113.7083      a
100-200만원 113.6250      a
200-300만원 113.1667      a
300-400만원 113.0833      a
400-500만원 111.4583      b
500만원이상 110.4167      b

attr(,"class")
[1] "group"

In [44]:
#연령별 교양·오락·문화생활비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data3_a$지수코드별 == '교양·오락·문화생활비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5   1710   342.1   87.46 <2e-16 ***
variable     9   1893   210.3   53.78 <2e-16 ***
Residuals   45    176     3.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  3.911111 45 77.66667 2.546334 2.632054

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50   Q75
100-200만원  73.8 5.452828 10  66  83 70.25 71.5 77.50
100만원미만  69.4 7.058486 10  59  81 65.50 68.5 70.75
200-300만원  76.2 5.769652 10  68  89 74.00 74.5 77.00
300-400만원  79.5 6.753600 10  71  92 76.25 77.5 80.75
400-500만원  81.0 6.306963 10  74  93 76.00 79.5 84.75
500만원이상  86.1 5.626327 10  81  97 82.00 84.0 88.00

$comparison
NULL

$groups
            value groups
500만원이상  86.1      a
400-500만원  81.0      b
300-400만원  79.5      b
200-300만원  76.2      c
100-200만원  73.8      c
100만원미만  69.4      d

attr(,"class")
[1] "group"

In [45]:
#연령별 교양·오락·문화생활비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data3_b[data3_b$지수코드별 == '교양·오락·문화생활비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5   4654   930.7 158.038 <2e-16 ***
variable     23    201     8.7   1.481 0.0912 .
Residuals   115    677     5.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  5.889372 115 88.94444 2.728448 2.030458

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
               value      std  r Min Max Q25  Q50   Q75
100-200만원 83.37500 2.634429 24  77  89  82 83.0 85.00
100만원미만 80.87500 2.953443 24  77  89  79 80.5 82.25
200-300만원 87.41667 2.448010 24  83  92  85 88.0 89.00
300-400만원 90.95833 2.074256 24  88  95  89 90.5 92.25
400-500만원 93.95833 3.042870 24  88  99  92 94.5 96.00
500만원이상 97.08333 1.717345 24  93 100  96 97.0 98.00

$comparison
NULL

$groups
               value groups
500만원이상 97.08333      a
400-500만원 93.95833      b
300-400만원 90.95833      c
200-300만원 87.41667      d
100-200만원 83.37500      e
100만원미만 80.87500      f

attr(,"class")
[1] "group"

In [46]:
#연령별 의류비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data3_a$지수코드별 == '의류비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5   2241   448.3  114.61 <2e-16 ***
variable     9   1086   120.7   30.86 <2e-16 ***
Residuals   45    176     3.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  3.911111 45 86.26667 2.292488 2.632054

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50  Q75
100-200만원  80.0 4.136558 10  71  85 79.00 80.0 82.5
100만원미만  77.4 5.059644 10  70  86 73.50 77.5 80.5
200-300만원  85.2 4.709329 10  79  92 81.50 84.5 88.5
300-400만원  88.4 4.835057 10  83  98 84.50 87.5 90.5
400-500만원  92.4 5.796551 10  84 101 88.50 91.0 97.5
500만원이상  94.2 4.289522 10  87 101 92.25 93.5 96.5

$comparison
NULL

$groups
            value groups
500만원이상  94.2      a
400-500만원  92.4      a
300-400만원  88.4      b
200-300만원  85.2      c
100-200만원  80.0      d
100만원미만  77.4      d

attr(,"class")
[1] "group"

In [47]:
#연령별 의류비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data3_b[data3_b$지수코드별 == '의류비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   5522  1104.3 180.754  < 2e-16 ***
variable     23    616    26.8   4.381 5.51e-08 ***
Residuals   115    703     6.1
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  6.109662 115 96.26389 2.567705 2.068084

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25   Q50    Q75
100-200만원  90.00000 2.484736 24  84  96  89.00  90.0  91.25
100만원미만  86.25000 2.489107 24  83  92  84.00  86.0  87.25
200-300만원  96.20833 2.812691 24  91 101  94.00  96.5  98.00
300-400만원 100.75000 3.948032 24  94 107  97.75 100.5 104.25
400-500만원 102.54167 3.799075 24  95 108  99.00 103.0 105.25
500만원이상 101.83333 2.648489 24  96 106 100.00 102.0 104.00

$comparison
NULL

$groups
                value groups
400-500만원 102.54167      a
500만원이상 101.83333      a
300-400만원 100.75000      a
200-300만원  96.20833      b
100-200만원  90.00000      c
100만원미만  86.25000      d

attr(,"class")
[1] "group"

In [48]:
#연령별 외식비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data3_a$지수코드별 == '외식비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5 3059.5   611.9   143.2 <2e-16 ***
variable     9 1654.3   183.8    43.0 <2e-16 ***
Residuals   45  192.3     4.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  4.274444 45 79.38333 2.604417 2.751596

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max   Q25  Q50   Q75
100-200만원  73.1 5.566766 10  63  81 71.50 73.0 77.00
100만원미만  68.1 7.279347 10  58  81 64.25 67.5 72.75
200-300만원  79.3 4.989990 10  72  88 76.25 79.0 81.75
300-400만원  81.0 4.944132 10  75  91 78.25 80.0 83.00
400-500만원  85.4 6.484169 10  79  96 79.25 84.0 90.50
500만원이상  89.4 5.460973 10  82  99 84.75 89.0 92.00

$comparison
NULL

$groups
            value groups
500만원이상  89.4      a
400-500만원  85.4      b
300-400만원  81.0      c
200-300만원  79.3      c
100-200만원  73.1      d
100만원미만  68.1      e

attr(,"class")
[1] "group"

In [49]:
#연령별 외식비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data3_b[data3_b$지수코드별 == '외식비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value   Pr(>F)
분류코드별    5   7468  1493.6 284.963  < 2e-16 ***
variable     23    341    14.8   2.828 0.000141 ***
Residuals   115    603     5.2
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  5.241546 115 89.26389 2.564802 1.915531

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
               value      std  r Min Max   Q25  Q50    Q75
100-200만원 82.33333 2.407717 24  75  86 81.75 82.0  84.00
100만원미만 77.75000 3.096281 24  72  83 76.00 77.0  80.25
200-300만원 89.08333 2.041241 24  86  94 87.00 89.5  90.00
300-400만원 92.79167 3.374832 24  88 100 90.75 92.0  95.25
400-500만원 95.37500 2.299575 24  91  99 93.75 96.0  97.00
500만원이상 98.25000 2.191882 24  95 103 97.00 98.0 100.00

$comparison
NULL

$groups
               value groups
500만원이상 98.25000      a
400-500만원 95.37500      b
300-400만원 92.79167      c
200-300만원 89.08333      d
100-200만원 82.33333      e
100만원미만 77.75000      f

attr(,"class")
[1] "group"

In [50]:
#연령별 여행비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data3_a$지수코드별 == '여행비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5   1946   389.2   49.88 <2e-16 ***
variable     9   4905   545.0   69.85 <2e-16 ***
Residuals   45    351     7.8
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df Mean       CV      MSD
  7.802963 45 67.7 4.126113 3.717702

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value       std  r Min Max   Q25  Q50   Q75
100-200만원  62.9  7.355270 10  54  77 57.25 61.5 65.00
100만원미만  59.5  8.462335 10  48  76 54.50 57.5 60.50
200-300만원  65.6  8.771165 10  56  86 60.50 64.0 65.00
300-400만원  69.7 10.382143 10  58  91 64.25 68.0 70.00
400-500만원  72.0 10.801234 10  59  94 65.00 69.0 76.25
500만원이상  76.5 12.527747 10  63 103 68.50 73.0 79.50

$comparison
NULL

$groups
            value groups
500만원이상  76.5      a
400-500만원  72.0      b
300-400만원  69.7      b
200-300만원  65.6      c
100-200만원  62.9     cd
100만원미만  59.5      d

attr(,"class")
[1] "group"

In [51]:
#연령별 여행비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data3_b[data3_b$지수코드별 == '여행비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5  15009  3001.9  471.82 <2e-16 ***
variable     23   1567    68.1   10.71 <2e-16 ***
Residuals   115    732     6.4
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df   Mean       CV      MSD
  6.362319 115 88.625 2.846109 2.110412

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max Q25   Q50    Q75
100-200만원  77.83333 3.841045 24  70  85  75  78.0  80.25
100만원미만  74.16667 3.383678 24  68  80  72  74.5  77.00
200-300만원  87.08333 3.786896 24  79  93  84  88.0  89.25
300-400만원  92.45833 5.183411 24  83 101  88  91.5  97.00
400-500만원  97.00000 4.587317 24  89 106  94  97.5 101.00
500만원이상 103.20833 3.387691 24  97 109 101 102.5 107.00

$comparison
NULL

$groups
                value groups
500만원이상 103.20833      a
400-500만원  97.00000      b
300-400만원  92.45833      c
200-300만원  87.08333      d
100-200만원  77.83333      e
100만원미만  74.16667      f

attr(,"class")
[1] "group"

In [52]:
#연령별 교육비 지출전망 코로나 이후
model1 = aov(value ~ 분류코드별 + variable, data=data3_a[data3_a$지수코드별 == '교육비 지출전망CSI', ])
summary(model1)
a=HSD.test(model1, '분류코드별', group=TRUE)
a

            Df Sum Sq Mean Sq F value Pr(>F)
분류코드별   5   4498   899.7  272.93 <2e-16 ***
variable     9    938   104.3   31.63 <2e-16 ***
Residuals   45    148     3.3
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror Df     Mean       CV      MSD
  3.296296 45 93.53333 1.941095 2.416339

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6         4.208669  0.05

$means
            value      std  r Min Max    Q25   Q50    Q75
100-200만원  86.8 4.022161 10  80  94  84.25  86.0  89.75
100만원미만  79.0 4.784233 10  71  88  77.25  78.0  78.75
200-300만원  91.7 4.083844 10  88  99  89.00  90.0  92.50
300-400만원  98.7 5.271517 10  92 108  96.00  98.0  99.75
400-500만원 101.4 4.857983 10  95 110  99.00 100.0 102.75
500만원이상 103.6 3.687818 10  99 111 101.00 102.5 105.00

$comparison
NULL

$groups
            value groups
500만원이상 103.6      a
400-500만원 101.4      a
300-400만원  98.7      b
200-300만원  91.7      c
100-200만원  86.8      d
100만원미만  79.0      e

attr(,"class")
[1] "group"

In [53]:
#연령별 교육비 지출전망 코로나 이전
model2 = aov(value ~ 분류코드별 + variable, data=data3_b[data3_b$지수코드별 == '교육비 지출전망CSI', ])
summary(model2)
b=HSD.test(model2, '분류코드별', group=TRUE)
b

             Df Sum Sq Mean Sq F value Pr(>F)
분류코드별    5  11123  2224.6  450.91 <2e-16 ***
variable     23   1080    47.0    9.52 <2e-16 ***
Residuals   115    567     4.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

$statistics
   MSerror  Df     Mean       CV      MSD
  4.933575 115 100.8056 2.203415 1.858405

$parameters
   test     name.t ntr StudentizedRange alpha
  Tukey 분류코드별   6          4.09888  0.05

$means
                value      std  r Min Max    Q25   Q50    Q75
100-200만원  91.87500 3.959716 24  85 100  89.75  91.0  94.25
100만원미만  87.16667 3.045548 24  81  93  85.00  87.0  89.25
200-300만원  99.29167 4.196056 24  93 107  97.00  98.0 104.00
300-400만원 107.66667 3.679162 24 102 117 105.00 106.5 110.25
400-500만원 109.33333 3.305682 24 102 116 107.75 109.0 111.00
500만원이상 109.50000 2.146787 24 106 114 108.00 109.0 111.00

$comparison
NULL

$groups
                value groups
500만원이상 109.50000      a
400-500만원 109.33333      a
300-400만원 107.66667      a
200-300만원  99.29167      b
100-200만원  91.87500      c
100만원미만  87.16667      d

attr(,"class")
[1] "group"